<nav class="navbar navbar-expand-lg bg-secondary px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://play-lh.googleusercontent.com/OvT5QBgJWwO2izfyG_JoZ4ps7h52HnlIwjhHXfJ70crMQYTla9sFaBCE7plUhs03sw"
                alt="" width="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="nav-link nav-link-active" aria-current="page" href="#">Home</a>
            <a class="nav-link " aria-current="page" href="#">Assignments<span class="badge bg-danger">5</span></a>
            <a class="nav-link " aria-current="page" href="#">Tests </a>
            <a class="nav-link " aria-current="page" href="./courses.html">Messages <span
                    class="badge bg-danger">2</span></a>
        </div>
    </div>
</nav>